html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header Style */
header {
  margin-bottom: 2rem;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.navegation {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.navegation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navegation-list li {
  padding: 0.5rem;
}

/* List book section style */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.border {
  border: 0.1rem solid black;
}

.listBooks h2 {
  text-align: center;
  font-size: 2.7rem;
}

.listBooks {
  font-size: 1.6rem;
  width: 60%;
}

.listBooks ul {
  margin: 0;
  padding: 1rem 1rem;
  list-style: none;
}

.listBooks ul li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(59, 36, 36);
  color: white;
}

.listBooks ul li:nth-child(2n) {
  background-color: white;
  color: black;
}

.containerTitleAuthor {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

/* Add new section style */
.addNew {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNew hr {
  width: 100%;
}

.addNew fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.addNew fieldset input {
  margin-bottom: 1.5rem;
}

.btn-container {
  align-self: flex-end;
}

/* About section style */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  text-align: center;
}

.about ul li {
  margin-bottom: 1rem;
}

/* Footer section */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

